<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>ТРРП3: Ответ сервера</title>
  <script type="method" src="server.js"></script>
</head>
<body>
    <form method="GET" action="/">
        <div>
            <button class="button back" type="submit">Добавить нового кота</button>
            <label name="cat_info_output">Ответ от сервера: <%= cat_info_output %></label>
        </div>
    </form>
</div>

</body>
</html>